@media (max-width: 1024px) {
	.container {
		width: 900px;
	}
	.mob-order-1 {
		order: 1;
	}
	.mob-order-2 {
		order: 2;
	}
	.sub {
		width: 280px;
		height: 463px;
	}
	.sub-name {
		font-size: 16px;
	}
	.sub-btn {
		font-size: 12px;
	}
	.news {
		flex-direction: column;
		align-items: center;
	}
	.mob-btn {
		width: 100%;
		display: block;
		text-align: center;
	}
	.news-margin {
		margin-bottom: 0;
	}
	.mob-mt40 {
		margin-top: 40px;
	}
	.info-app {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 900px) {
	.container {
		width: 800px;
	}
}