.advanced-menu {
	display: flex;
	justify-content: flex-start;
	padding: 80px 0 100px;
	flex-wrap: wrap;
}

.socials li {
	margin-right: 21px;

}
.advanced-menu-elem {
	margin-right: 100px;
	&:last-child {
		margin-right: 0;
	}
	li {
		margin-bottom: 20px;
	}
	a, span{
		font-size: 16px;
		color: $color-text-footer;
	}
	h4 {
	margin: 30px auto;
	font-size: 18px;
	font-weight: bold;
	color: $color-text-footer;
}
}
