body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
	color: $color-text-light;
	position: relative;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 60px;
	margin-top: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
h2 {
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 75px 0 50px 0;
}
ul {
	padding-left: 0;
}
li {
	list-style-type: none;
}
.btn {
	box-sizing: border-box;
	border: none;
	background: trasparent;
	padding: 20px 50px;
	border-radius: 5px;
	color: $color-text-light;
}
.p-y-20 {
	padding: 20px 0;
}
.p-y-50 {
	padding: 50px 0;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.btn-margin {
	margin-right: 35px;
}
.pt100 {
	padding-top: 100px;
}
.margin-r-b {
	margin: 0 50px 40px 0;
}
.w100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
.fz16 {
	font-size: 16px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.d-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-row {
	flex-direction: row;
}
.text-dark {
	color: $color-text-dark;
}
.text-gray {
	color: $color-release;
}

.justify-content-between {
	justify-content: space-between;
}
.justify-content-start {
	justify-content: flex-start;
}
.fw-w {
	flex-wrap: wrap;
}
.align-items-start {
	align-items: flex-start;
}
.mw560 {
	max-width: 560px;
}
.similars-img,
.album-img {
	width: 100%;
}
