body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
	color: $color-text-light;
	position: relative;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 60px;
	margin-top: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
h2 {
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	padding: 75px 0 50px 0;
}
h3 {
	font-size: 30px;
	font-weight: 300;
}
ul {
	padding-left: 0;
}
li {
	list-style-type: none;
}
.btn {
	box-sizing: border-box;
	border: none;
	background: trasparent;
	padding: 20px 50px;
	border-radius: 5px;
	color: $color-text-light;
}
.mx-25 {
	margin-right: -25px;
	margin-left: -25px;
}
.p-y-20 {
	padding: 20px 0;
}
.p-y-50 {
	padding: 50px 0;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mb-auto {
	margin-bottom: auto;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mr35 {
	margin-right: 35px;
}
.mr20 {
	margin-right: 20px;
}
.mr50 {
	margin-right: 50px;
}
.mb70 {
	margin-bottom: 70px;
}
.m-y20-50 {
	margin: 20px 0 50px;
}
.pt100 {
	padding-top: 100px;
}
.w100 {
	width: 100%;
}
.w40 {
	width: 40%;
}
.w250 {
	width: 250px;
}
.p25 {
	padding: 25px;
}
.h-100 {
	height: 100%;
}
.p12-25 {
	padding: 12px 25px;
}
.fz11 {
	font-size: 11px;
}
.fz12 {
	font-size: 12px;
}
.fz16 {
	font-size: 16px;
}
.fz20 {
	font-size: 20px;
}
.fz24 {
	font-size: 24px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.flex-row {
	flex-direction: row;
}
.bx-box {
	box-sizing: border-box;
}
.text-dark {
	color: $color-text-dark;
}
.text-gray {
	color: $color-release;
}
.text-up {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-start {
	justify-content: flex-start;
}
.align-items-start {
	align-items: flex-start;
}
.pos-rel {
	position: relative;
}
.mw560 {
	max-width: 560px;
}

