body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
	color: $color-text-light;
	position: relative;
}
a {
	text-decoration: none;
}
h1 {
	margin-top: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	@include fluidFontSize(30px, 60px, 320px, 1920px);
}
h2 {
	@include fluidFontSize(20px, 38px, 320px, 1920px);
	font-weight: bold;
	text-transform: uppercase;
	margin: 75px 0 50px 0;
}
h3 {
	font-size: 30px;
	font-weight: 300;
}
h4 {
	margin: 30px auto;
	font-size: 18px;
	font-weight: 700;
	color: $color-text-footer;
}
ul {
	padding-left: 0;
}
li {
	list-style-type: none;
}
.btn {
	box-sizing: border-box;
	border: none;
	background: trasparent;
	padding: 20px 50px;
	border-radius: 5px;
	color: $color-text-light;
}
.mt0 {
	margin-top: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mb10 {
	margin-bottom: 10px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb70 {
	margin-bottom: 70px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.pt100 {
	padding-top: 100px;
}
.w100 {
	width: 100%;
}
.fz11 {
	font-size: 11px;
}
.fz12 {
	font-size: 12px;
}
.fz16 {
	font-size: 16px;
}
.fz20 {
	font-size: 20px;
}
.fz30 {
	font-size: 30px;
}
.fz60 {
	font-size: 60px;
}
.lh-1 {
	line-height: 1;
}
.text-up {
	text-transform: uppercase;
}
.text-c {
	text-align: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.d-flex {
	display: flex;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.text-dark {
	color: $color-text-dark;
}
.text-gray {
	color: $color-release;
}
.color-author {
	color: $color-author;
}
.color-artist {
	color: $text-color-name-artists;
}
.jc-sb {
	justify-content: space-between;
}
.jc-sa {
	justify-content: space-around;
}
.jc-fs {
	justify-content: flex-start;
}
.fd-c {
	flex-direction: column;
}
.fw-w {
	flex-wrap: wrap;
}
.ai-fs {
	align-items: flex-start;
}
.mw560 {
	max-width: 560px;
}
.pos-abs {
	position: absolute;
	left: 15px;
	bottom: 13px;
}
.pos-rel {
	position: relative;
}
