.footer {
	background: $bg-color-footer;

}

.hr {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 170px;
}
.footer-menu-color {
	color: $color-text-footer;
}