.header-absolute {
	position: absolute;
	top: 14px;
	left: 0; right: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo-img {
	width: 17px;
	margin-right: 4px;
}
.logo-text-color {
	color: $logo-text-color;
}
.search input {
	background: $bg-color-search;
	border-radius: 50px;
	width: 100%;
	padding: 3px 0 4px 15px;
	border: none;
	color: $color-text-light;
	&::placeholder {
		color: $menu-text-color
	}
}
.search {
	flex: 0 1 278px;
}
.logo {
	display: flex;
	align-items: center;

	flex: 1 1 auto;	
	a {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
	}
}
