main {
	background: $bg-color-main-content;
	padding-bottom: 100px;
}
.mx-25 {
	margin-right: -25px;
	margin-left: -25px;
}
.btn-dl {
	background: $bg-color-dl;
	border-radius: 50px;
}
.albums {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.similars {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;	
}
.news-margin {
	margin-bottom: 70px;
}
