.nav {
	flex: 4 1 auto;
	
}
nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1;
}
nav li {
	list-style-type: none;
	margin-right: 36px;
	&:last-child {
		margin-right: 0;
	}
}
.header-menu-color {
		color: $menu-text-color;
		&:hover {
	color: $menu-text-color-active;
	}
}