.nav {
	flex: 4 1 auto;
	
}
.nav ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1;
}
.nav li {
	margin-right: 36px;
	&:last-child {
		margin-right: 0;
	}
}
.header-menu-color {
		color: $menu-text-color;
		&:hover {
	color: $menu-text-color-active;
	}
}
.nav-link {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.nav-link-footer {
	font-size: 16px;
	text-transform: none;
	font-weight: 300;
}