.song {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.img-song {
	width: 55px;
	margin-right: 17px;
}
.name-song {
	flex: 2 1 auto;
	& p {
		margin: 5px 0;
	}
}
.color-name-artists {
	color: $text-color-name-artists;
}