$logo-text-color: #fff;
$menu-text-color: #808080;
$menu-text-color-active: #fff;
$bg-color-search: #3C3B3D;
$color-text-light: #fff;
$bg-banner-btn: #34C176;
$color-text-dark: #8C8C8C;
$color-release: #555555;
$color-author: #F89202;
$bg-color-dl: #FF4157;
$color-text-footer: #CACACA;
$bg-color-mix: #5328A1;
$bg-color-bookmarks: #95390C;
$text-color-name-artists: #808080;
$bg-color-footer: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
$bg-color-main-content: #08020D;